.App {
	height: 100vh;
	text-align: center;
	background-color: #1C1318;
	font-family: 'Inter', sans-serif;
}

.App-main {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	max-width: 920px;
	margin: 0 auto;
}
